/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

p.help {
  font-style: italic;
  font-weight: bold;
  text-align: center;
}

textarea {
  height: 300px;
}

ul.statuses {
  list-style-type: none;
  margin: 0 0 20px 0;
  padding: 0;

  li {
    overflow: hidden;
    padding: 10px;

    &:hover {
      background: #add8e6;
      cursor: pointer;
    }

    > a {
      float: left;
      width: 50px;
      margin-right: 10px;
      > img {
        border: 1px solid #111111;
      }
    }

    > div {
      float: left;
      width: 90%;

      > a {
        display: block;
        text-align: right;
      }
    }
  }
}

footer {
  border-top: 1px solid black;
  padding-top: 10px;
  text-align: right;
}